[submodule "plugin-update-checker"]
	path = vendor/plugin-update-checker
	url = https://github.com/YahnisElsts/plugin-update-checker.git
[submodule "admin/ilghera-notice"]
	path = admin/ilghera-notice
	url = https://ilGhera@bitbucket.org/ilGhera/ilghera-notice.git
